{layout name="common/index" /}
<script type="text/javascript">
	$(function(){
		$('.head_middle li').each(function(){
			$(this).removeClass('active');
		});
		$('.head_middle .project_blog').addClass('active');
		$('.blog_left li span').each(function(){
			$(this).removeClass('list-group-item-span-active');
		});
		$('.blog_left #blog_say').find('span').addClass('list-group-item-span-active');

		var current_page = parseInt({$say_info->currentPage()|json_encode});
		var before_page = current_page-1;
		var after_page = current_page+1;
		var total_page = {$say_info->lastPage()|json_encode};
		$('.blog_say_content .pagination .last a').attr('href','?page='+total_page);
		$('.blog_say_content .pagination .first a').attr('href','?page=1');
		$('.blog_say_content .pagination .before_page a').attr('href','?page='+before_page);
		$('.blog_say_content .pagination .before a').attr('href','?page='+before_page);
		$('.blog_say_content .pagination .before a').text(before_page);
		$('.blog_say_content .pagination .curr a').attr('href','?page='+current_page);
		$('.blog_say_content .pagination .curr a').text(current_page);
		$('.blog_say_content .pagination .after a').attr('href','?page='+after_page);
		$('.blog_say_content .pagination .after a').text(after_page);
		$('.blog_say_content .pagination .after_page a').attr('href','?page='+after_page);
		if(before_page<=0){
			$('.blog_say_content .pagination .before').css('display','none');
			$('.blog_say_content .pagination .before_page').css('display','none');
		}
		if(after_page>total_page){
			$('.blog_say_content .pagination .after').css('display','none');
			$('.blog_say_content .pagination .after_page').css('display','none');
		}
	})
</script>
<div class="blog_say_content" style="color: #000;">
	<div class="blog_say_content_head">
		<div class="blog_say_del">
			<button class="btn btn-danger btn-sm" type="button"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;&nbsp;删除</button>
		</div>
		<div class="blog_say_add">
			<button class="btn btn-primary btn-sm" type="button"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;&nbsp;添加</button>
		</div>
	</div>
	<div class="blog_say_content_list" style="min-height: 480px;">
		<table class="table table-hover table-striped" style="margin: 0;padding: 0;">
			<thead>
				<tr>
					<th>序号</th>
					<th>标题</th>
					<th>创建人</th>
					<th>创建时间</th>
					<th>显示</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{foreach name="say_info" item="list" key="key"}
				<tr data-say-id={$list.say_id} class="success">
					<td class="list_num animated bounceIn">{$key+1}</td>
					<td class="list_say_title animated bounceIn">{$list.title}</td>
					<td class="list_say_name animated bounceIn">{$list.name}</td>
					<td class="list_say_create_time animated bounceIn">{$list.create_time}</td>
					<td class="list_say_is_show animated bounceIn" data-is-show="{$list.is_show}">
						{if condition="$list.is_show == 0"}
						<div><span class="glyphicon glyphicon-ok" title="显示中"></span></div>
						{else /}
						<div><span class="glyphicon glyphicon-remove" title="不显示"></span></div>
						{/if}
					</td>
					<td class="list_say_handle animated bounceIn">
						<button class="btn btn-success btn-xs" type="button" title="查看"><span class="glyphicon glyphicon-eye-open"></span></button>
						<button class="btn btn-info btn-xs" type="button" title="修改"><span class="glyphicon glyphicon-retweet"></span></button>
						<button class="btn btn-danger btn-xs" type="button" title="删除"><span class="glyphicon glyphicon-trash"></span></button>
					</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
	</div>
	<div class="blog_say_content_page pagination">
		<div class="last"><a href="">末页</a></div>
		<div class="after_page"><a href="">&gt;</a></div>
		<div class="after"><a href=""></a></div>
		<div class="curr active"><a href=""></a></div>
		<div class="before"><a href=""></a></div>
		<div class="before_page"><a href="">&lt;</a></div>
		<div class="first"><a href="">首页</a></div>
	</div>
	<div class="blog_add_new_say" hidden>
		<div class="add_new_blog_head">
			<div class="add_new_blog_head_title">添加说说</div>
			<div class="add_new_blog_head_off"><img src="/static/Image/admin/person/off_glay.png"></div>
		</div>
		<div class="add_new_blog_content">
			<div class="input-group">
				<span class="input-group-addon" id="say_title">标题</span>
				<input type="text" class="form-control" placeholder="*标题(20字符以内)" maxlength="20" aria-describedby="say_title">
			</div>
			<!-- <div class="input-group">
				<span class="input-group-addon" id="say_keyword">关键词</span>
				<input type="text" class="form-control" placeholder="*关键词(最多三个，请以英文;隔开)" aria-describedby="say_keyword">
			</div>
			<div class="input-group" data-toggle="buttons">
				<span class="input-group-addon" id="say_show">是否显示</span>
				<label class="btn btn-primary btn-sm">
					<input type="radio" name="options" id="option1"> 是
				</label>
				<label class="btn btn-primary btn-sm" style="margin-left:20px;">
					<input type="radio" name="options" id="option2"> 否
				</label>
			</div> -->
		</div>
		<!-- <div style="height: 50px;padding-left: 5%;padding-top: 20px;border: 1px blue solid;"> -->
			<!-- 加载编辑器的容器 -->
		    <script id="editor" name="content" type="text/plain">
		        请输入内容
		    </script>
		    <!-- 配置文件 -->
		    <script type="text/javascript" src="/static/Plugin/ueditor/ueditor.config.js"></script>
		    <!-- 编辑器源码文件 -->
		    <script type="text/javascript" src="/static/Plugin/ueditor/ueditor.all.min.js"></script>
		    <!-- 实例化编辑器 -->
		    <script type="text/javascript">
				var ue = UE.getEditor( 'editor', {
					autoHeightEnabled: true,
					autoFloatEnabled: true,
					initialFrameWidth: 700,
					initialFrameHeight: 300
				});
		    </script>
		<!-- </div> -->
		<div class="add_new_blog_bottom">
			<button class="btn btn-info btn-sm" type="button"><span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;&nbsp;提交</button>
			<button class="btn btn-warning btn-sm" type="button" style="margin-left:100px;"><span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;&nbsp;关闭</button>
		</div>
	</div>
</div>