html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 645px;
	min-width: 1280px;
}

body{
	width: 100%;
	height: 100%;
	min-height: 645px;
	min-width: 1280px;
	background:-webkit-linear-gradient(top right, #999, rgba(0,0,0,.075));
    background: -moz-linear-gradient(top right, #999, rgba(0,0,0,.075));
    background: -webkit-gradient(linear, top right, #999, rgba(0,0,0,.075));
    background: -o-linear-gradient(top right, #999, rgba(0,0,0,.075));
    background: -ms-linear-gradient(top right, #999, rgba(0,0,0,.075));
    background: linear-gradient(top right, #999, rgba(0,0,0,.075));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51E8FF', endColorstr='#2F88FF',GradientType=1 );
}

.bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: 2;
}

/*.pagination{
	float: right;
	margin-right: 55px;
	height: 30px;
	margin-top: 60px;
}*/

.head{
	width: 100%;
	height: 80px;
	border-bottom: 1px #ccc solid;
}

.head_left{
	width: 200px;
	height: 80px;
	background-color: #3b3a3f;
	float: left;
}

.head_left img{
	width: 41px;
	height: 41px;
	margin-top: 20px;
	margin-left: 35px;
}

.head_left .title{
	font-family: SourceHanSansCN-Medium;
	font-size: 20px;
	letter-spacing: 0;
	text-align: left;
	float: right;
	margin-right: 40px;
	margin-top: 25px;
	text-shadow: 3px 3px 2px;
	font-style: oblique;
	cursor: default;
	color: #fff;
}

.head_middle{
	width: calc(100% - 400px);
	height: 80px;
	display: inline-block;
}

.head_right{
	width: 194px;
	height: 80px;
	display: inline-block;
	float: right;
	text-align: center;
	line-height: 80px;
}

.head_middle .project_list{
	/*margin-top: 38px;*/
}

.head_right .name{
	margin-bottom: 10px;
	color: #fff;
}

.left{
	width: 200px;
	height: calc(100% - 80px);
	background: #313135;
	float: left;
}

.list-group{
	margin-bottom: 0px;
}

.list-group img{
	width: 30px;
}

.list-group-item-info{
	padding-left: 40px;
}

.list-group-item-warning{
	padding-left: 60px;
}

.list-group-item-hover{
	text-align: 2px;
	padding-left: 20px;
}

.list-group-item-span-hover{
	color: #3c763d;
}

.list-group-item-success{
	color: #fff;
	background-color: #313135;
}

.list-group-item-span-active{
	color: #53c3ff;
}

.project_list img{
	width: 58px;
}

.list-group-item{
	border: none;
	cursor: pointer;
}

.list-group-item-info{
	color: #fff;
	background-color: #313135;
}

.blog_say_content_head{
	width: calc(100% - 200px);
	height: 50px;
	float: right;
}

.blog_say_content_list{
	width: calc(100% - 200px);
	height: auto;
	border: 1px #ccc solid;
	float: right;
}

.blog_say_content .blog_say_content_head .blog_say_add,.blog_say_del{
	float: right;
	margin-right: 17px;
	margin-top: 10px;
}

tbody tr{
	height: 45px;
}

/*.blog_say_content_page{
	width: calc(100% - 200px);
	height: auto;
	float: right;
}*/

.blog_add_new_say{
	background: #fff;
	width: 60%;
	height: 95%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 3;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	overflow-y: auto;
}

.blog_add_new_say .add_new_blog_head{
	background: #3b3a3f;
	width: 100%;
	height: 40px;
}

.blog_add_new_say .add_new_blog_head .add_new_blog_head_title{
	font-family: SourceHanSansCN-Medium;
	font-size: 16px;
	color: #fff;
	letter-spacing: 0;
	text-align: left;
	width: 160px;
	height: 40px;
	float: left;
	line-height: 38px;
	margin-left: 20px;
}

.blog_add_new_say .add_new_blog_head .add_new_blog_head_off{
	float: right;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-right: 20px;
	text-align: center;
	line-height: 16px;
}

.add_new_blog_content{
	width: 70%;
	margin-top: 20px;
	margin-left: 5%;
}

.add_new_blog_content .input-group{
	margin-top: 20px;
}

#editor{
	margin-left: 5%;
	margin-top: 20px;
	height: 500px;
	display: inline-block;
}

.blog_add_new_say .add_new_blog_bottom{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.blog_say_content .pagination{
	width: 182px;
	height: 35px;
	text-align: center;
	line-height: 32px;
	margin: 0;
	padding: 0;
	position: relative;
	left: 35%;
}

.blog_say_content .pagination div{
	float: right;
	width: 40px;
	text-align: center;
}

.blog_say_content .pagination div a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.blog_say_content .pagination .active{
	/*background-color: #fff;*/
}

.blog_say_content .pagination .active a{
	color: #49a7ff;
	background: none;
	/*background-color: #fff;*/
}

.blog_say_content .pagination .before_page,.blog_say_content .pagination .before,.blog_say_content .pagination .after,.blog_say_content .pagination .curr,.blog_say_content .pagination .after_page{
	width: 20px;
}

.blog_say_content .pagination div a:hover{
	color: #49a7ff;
}