<!DOCTYPE html>
<html>
<head>
	<title>后台管理</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	{load href="/static/Css/bootstrap.min.css,/static/Js/jquery-1.11.1.min.js,/static/Js/bootstrap.min.js" /}
	<link rel="stylesheet" type="text/css" href="/static/Css/login.css?v={$css_version}" />
	<script type='text/javascript' src='/static/Js/login.js?v={$js_version}' ></script>
</head>
<body>
	<div>登陆页</div>

</body>
</html>